APP_NAME=Laravel
APP_ENV=local 
APP_KEY="Generate a new key using `php artisan key:generate` and replace this placeholder with the generated key"
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

APP_LOCALE=it
APP_FAKER_LOCALE=it_IT

APP_MAINTENANCE_DRIVER=file


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="Replace with your database name"
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file

MAIL_MAILER=smtp
MAIL_HOST=" Replace with your mail host, e.g., smtp.mailtrap.io"
MAIL_USERNAME=" Replace with your mail username"
MAIL_PASSWORD=" Replace with your mail password"
MAIL_PORT=1234
MAIL_FROM_ADDRESS=" Replace with your mail from address"
MAIL_FROM_NAME="Test Libri Usati Crema"

FRONTEND_URL=http://localhost:5173

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:5173,localhost:8000,nuovo.libriusaticrema.it
